%form{:onsubmit => "return formSubmit()"}
  Qual a operadora de
  %input{:type => 'text', :name => 'numero', :id => 'numero_input', :maxlength => '13', :onclick => "clearInput(this)"}
  %a{:href => "#", :onclick => "formSubmit();"}
    ?
