%form{:onsubmit => "return formSubmit()"}
  Qual a operadora de
  %input{:type => 'text', :name => 'telefone', :id => 'telefone_input', :maxlength => '13'}
  %a{:href => "#", :onclick => "formSubmit();"}
    ?
