- if @operadora != "desconhecida"
  %p
    %img{:src => @logotipo, :alt => @operadora}
%p
  A operadora de
  %em
    = @numero
  é
  %em
    = @operadora + "."
%p
  %a{:href => "/"}
    Quer ver outro número?
